* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  background-color: transparent;
}

.sites{
  display: flex;
  justify-content: end;
  font-size: 30px;
  
}

.dropdown{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 6px;
}


#home {
  background-image: linear-gradient(rgb(192, 192, 192), rgb(0, 0, 0));
  background-size: cover;
  min-height: 200vh;
}

.card button{
    border-radius: 20px;
    height: 40px;
    width: 100px;
    background-color: blue;
    color: white;

}
#gaming {
  margin-left: 0rem;
}

.pushing-p {
  text-align: center;
}

.foot {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  /* border: 2px solid orangered; */
  width: 100%;
}

ul li {
  list-style: none;
}

.linkss {
  /* width: 100%;
  border: 2px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.linkss ul {
  width: 100%;
  /* border: 2px solid green; */
  padding-left: 0;
}


.foot ul li a {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 16px ;
  /* border: 2px solid black; */
}
.game{
    display: flex;
    align-content: center;
    justify-content: center;
}
#footer {
  background-color: rgb(14, 205, 205);
  /* border: 2px solid red; */
}
.game {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.icon {
  color: black;
}
#nav a:hover {
  background-color: rgba(16, 16, 16, 0.559);
  color: white;
  transition: 0.8s;
  border-radius: 5px;
}
.row {
  border-radius: 5px;
  width: 100%;
  padding-left: 7rem;
  padding-right: 7rem;
}

#gaming .col{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gaming .col .card{
  width: 22rem;
}

.img4 {
  width: 100%;
  border-radius: 4px;
}
.img3 {
  width: 100%;
  border-radius: 4px;
}
.img2 {
  width: 100%;
  border-radius: 4px;
}
.img1 {
  width: 100%;
  border-radius: 4px;
}
.product {
  text-align: center;
}
.visually-show,
.carousel-control-next-icon,
.carousel-control-previous-icon:hover {
  color: black;
}
.foot ul a:hover {
  background-color: rgba(16, 16, 16, 0.559);
  color: white;
  transition: 0.8s;
  border-radius: 5px;
}



@media screen and (max-width: 600px) {
  .nav-buttons a {
    font-size: 30px;
    justify-content: center;
    align-content: center;
    display: flex;
  }
  #gaming .col .card{
    width: 22rem;
  }
  .row {
    border-radius: 5px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 820px) {
  .nav-buttons a {
    font-size: 30px;
    justify-content: center;
    align-content: center;
    display: flex;
  }
  #gaming .col .card{
    width: 22rem;
  }
  .row {
    border-radius: 5px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and(max-width: 300px) {
  .column {
    margin-bottom: 10px;
    display: flex;
  }
}
@media screen and(min-width: 500px) {
  .logo1 {
    margin-top: 100px;
  }
}
