* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body{
    background-image: linear-gradient(pink, blue);
    min-height: 100vh;
}


.nav {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: transparent;
}

.nav a:hover {
    background-color: rgba(16, 16, 16, 0.559);
    color: white;
    transition: 0.8s;
    border-radius: 5px;
}



.col-25 {
    -ms-flex: 25%; 
    flex: 25%;
    padding: 0 16px;
  }
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-top: 100px;
  }
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  @media (max-width: 800px) {
    .col-25 {
      margin-bottom: 20px;
    }
  }