* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#back{
  background-image: linear-gradient(rgb(100, 100, 100), rgb(183, 183, 183));
}

#nav {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#admin{
  min-height: 20vh;
}

.buttons{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.modal-body input{
  width: 100%;
}

#btn{
  min-height: 13vh;
}

.table{
  background-color: black;
}